/* ===============================
   Author: Carved-Out Design
   Date:   2-7-1015
   
   Notes: Personally coded by Carved-Out Design exclusively for Kapas Turtle Valley Resort
  
   
   Colour Palette:
   ---------------
   Snow White: #fffafa
   Dull Shadow: #E5E1E1

   =============================== */

/*===================
	General
====================*/
@media screen and (max-width: 768px) {
	.logo {
	width: 90%;
	height: 90%;
	} 
}

@media screen and (max-width: 480px) {
	.logo {
	width: 80%;
	height: 80%;
	} 
}


body {
   background: url('../images/fabric_of_squares_gray.png') top left repeat;
   -moz-font-smoothing: antialiased;
   text-rendering: optimizelegibility;
   font-family: 'Lato', 'Open Sans', sans-serif;
   font-size: 1em;
   font-weight: normal;
}

.container {
   margin: 0 auto;
   width: 70%;
   padding: 30px 24px;
}

/*===================
	Typography
====================*/

.title {
   font-family: 'Kaushan Script';
   color: #fffafa;
   text-shadow: 2px 2px #E5E1E1;
   letter-spacing: 2px;
   font-size: 2.5em;
   display: inline;
   position: relative;
   bottom: 10px;
}

#handshake {
   font-size: 1.75em;
}

/*===================
	Header
====================*/

header nav {
   position: relative;
   text-align: center;
}

header nav ul {
   margin: 0.75em 0;
   padding: 0;
   display: block;
}

header nav ul li {
   display: inline-block;
   padding: 0 25px;
   border-right: 0.05em solid #fffafa;
}

#exclude {
   border: none;
}

header nav ul li a {
   text-decoration: none;
   color: #E5E1E1;
   font-weight: bold;
   letter-spacing: 0.02em;
}

a:hover {
   color: #fffafa;
   -webkit-transition: color .4s;
   transition: color .4s;
}

/*===================
	Hero
====================*/

#splash {
   position: absolute;
   width: 100%;
   z-index: -1;
}

#logo-box {
   max-width: 380px;
   margin: 130px auto;
   display: block;
   text-align: center;
}

#logo {
  width:100%;
  height:auto;
}

/*===================
   Body
====================*/

#page-content {
   position: relative;
   top: 400px;
}

/*===================
	Footer
====================*/

/*===================
	Global
====================*/

.clearfix:after {
   visibility: hidden;
   display: block;
   content: "";
   clear: both;
   height: 0;
   }
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */

